<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>热门活动</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body>
		<div class="act_header padding">
			<a class="act_larrow">
				<img style="width:10px;padding-left: 15px;" class="fl imgljt" src="../static/images/pre_ljt.png"/>
			</a>
			热门活动
			<a href="" class="act_rarrow">
				<img style="width:17px;padding-right: 15px;" src="../static/images/act_rtel.png" class="fr act_rtel"/>
			</a>
		</div>
		<div class="act_1">
			<div><img src="../static/images/act_ban1.png" alt="" class="act_1img" style="width: 100%;"/></div>
			<div class="act_11">开启聚宝“朋”，赚奖金不封顶!<span class="act_rjt fr"><a href=""><img src="../static/images/act_rjt.png" alt="" style="height: 14px;"/></a></span>
			</div>
		</div>
		<div class="act_gray"></div>
		<div class="act_2">
			<div><img src="../static/images/act_ban2.png" alt="" class="act_2img" style="width: 100%;"/></div>
			<div class="act_22">开启聚宝“朋”，赚奖金不封顶!<span class="act_rjt fr"><a href=""><img src="../static/images/act_rjt.png" alt="" style="height: 14px;"/></a></span>
			</div>
		</div>
		<div class="act_gray"></div>
		<div class="act_3">
			<div><img src="../static/images/act_ban3.png" alt="" class="act_3img" style="width: 100%;"/></div>
			<div class="act_33">开启聚宝“朋”，赚奖金不封顶!<span class="act_rjt fr"><a href=""><img src="../static/images/act_rjt.png" alt="" style="height: 14px;"/></a></span>
			</div>
		</div>
	</body>
</html>
