<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--首页头部-->
		<div class="index_top padding">
			<a href="#" class="fl">上海  <img src="../static/images/down42.png"/></a>
			<span>乐车邦</span>
		</div>
		<!--首页轮播-->
		<div class="index_banner">
			<img src="../static/images/banner1.png" width="100%"/>
		</div>
		<!--工具栏-->
		<div class="index_toolbar">
			<ul>
				<li>
					<img src="../static/images/11.png" alt="" /><br />
					<span>4s店保养</span>
				</li>
				<li>
					<img src="../static/images/22.png" alt="" /><br />
					<span>事故维修</span>
				</li>
				<li>
					<img src="../static/images/33.png" alt="" /><br />
					<span>在线技师</span>
				</li>
				<li>
					<img src="../static/images/44.png" alt="" /><br />
					<span>违章查询</span>
				</li>
				<li>
					<img src="../static/images/55.png" alt="" /><br />
					<span>停车</span>
				</li>
			</ul>
		</div>
		<!--邀请  新人-->
		<div class="index_invite">
			<div class="topline">
				<a href="#" class="fl"><img src="../static/images/4.png"/></a>
				<div class="topline_fr fl">
					<span class="teach">教你一个炸天的保养秘籍！保证超级好用 ...</span>
					<span class="new">最新</span>
				</div>
			</div>
			<div class="newpep">
				<div class="newpepfl">
						<div class="fl">
							<span>邀请有礼</span><br />
							<span class="spanlast">赚￥<i>10</i> ~ ￥<i>10</i></span>
						</div>
						<img class="fr" src="../static/images/1.png" alt="" />
				</div>
				<div class="newpepfl ml">
					<div class="fl">
						<span>新人有礼</span><br />
						<span class="spanlast">登录送￥<b>300</b></span>
					</div>
						<img class="fr" src="../static/images/2.png" alt="" />
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--热门保养-->
		<div class="index_maintain">
			<div class="maintain_title">
				<span>热门保养</span>
				<span class="lovecar"><i>+</i>添加爱车</span>
			</div>
			<div class="cars_icon">
				<ul class="cras_li">
					<li>
						<img src="../static/images/car1.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car2.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car3.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car4.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car5.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car6.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car7.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
					<li>
						<img src="../static/images/car3.png" alt="" /><br />
						<span>￥<i>220</i></span>
					</li>
				</ul>
				<div class="cars_icon_footer padding">
					<span class="fr">更多品牌 <img src="../static/images/more.png"/></span>
				</div>
			</div>
		</div>
		<!--首页footer-->
		<div class="index_footer padding">
			<ul>
				<li> 
					<img src=" ../static/images/222.png"/><br />
					<span class="footer_color">首页</span>
				</li>
				<li> 
					<img src="../static/images/333.png"/><br />
					<span>4s店</span>
				</li>
				<li> 
					<img src="../static/images/555.png"/><br />
					<span>头条</span>
				</li>
				<li> 
					<img src="../static/images/777.png"/><br />
					<span>我的</span>
				</li>
			</ul>
		</div>
	</body>
</html>
