<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="zcombgc">
			<div class="lebangintro">
				<p class="zptitle mB10 padding"><span></span>乐车邦介绍</p>
				<div class="zlebanglogo">
					<img src="../static/images/logo.png" width="40%"/>
				</div>
				<div class="padding">
					<p class="fontColor666">&emsp;&emsp;乐车邦，由全球VC界领导者红杉资本首轮天使投资，是中国第一家专业聚焦于4S店网络的汽车售后服务电商交易平台，服务内容包括：维修保养、洗车美容等模块。乐车邦通过将移动互联网和强大的资本力量结合用于4S点服务网络，使得中国车主得以在4S店享受低价、安心、便捷的售后服务，同时也为用户提供用车所需的其他高频一站式贴身优质服务，乐邦车的宗旨是为车主解决用车过程中的各种服务难题，使车主能乐享生活。</p>
					<p class="leIntrocopy">copyright@2015 by 乐车邦 All Rights Reserved</p>
				</div>
			</div>
		</div>
	</body>
</html>
