<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>在线支付</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body style="background-color: #f4f4f8;">
		<div class="set_header padding">
			<a class="set_larrow">
				<img style="width:10px;padding-left: 15px;" class="fl imgljt" src="../static/images/set_ljt.png"/>
			</a>
			在线支付
		</div>
		
	</body>
</html>
