<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>在线支付</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body style="background-color: #f4f4f8;">
		<div class="set_header padding">
			<a class="set_larrow">
				<img style="width:10px;padding-left: 15px;" class="fl imgljt" src="../static/images/set_ljt.png"/>
			</a>
			在线支付
		</div>
		<div class="pay_orange">
			<img src="../static/images/pay_tanhao.png" style="width: 12px;"/> &nbsp;您选择的时段工位紧张，建议您在30分钟内完成支付
		</div>
		<div class="pay_order">
			<span>乐车邦保养订单</span><span class="pay_order1 fr" style="color:#fa5a4b;font-weight: 600;">￥<big style="font-size: 20px;">560</big></span>
		</div>
		<div class="pay_gray"></div>
		<div class="pay_balance">
			账户余额 (￥0) <span class="fr" style="font-size: 13px;">余额不足</span>
		</div>
		<div class="pay_gray"></div>
		<div class="pay_need">
			<span>还需在线支付</span><span class="pay_need1 fr" style="color:#fa5a4b;font-weight: 600;">￥<big>560</big></span>
		</div>
		<div class="pay_vxpayment">
			<img src="../static/images/vx.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;微信支付<span class="fr"><img src="../static/images/bluedui.png" style="width: 24px;"/></span>
		</div>
		<div class="pay_zfbpayment">
			<img src="../static/images/zfb.png" class="fl" style="width: 24px;margin-top: 10px;"/>
			<div class="fl">
				&nbsp;&nbsp;支付宝支付
				<p style="font-size: 12px;color: #b9b9b9;">&nbsp;&nbsp;信用卡限额500元 储蓄卡限额2000元</p>
				<p style="font-size: 12px;color: #b9b9b9;">&nbsp;&nbsp;支付宝余额 支付不限</p>
			</div>
			<span class="fr"><img src="../static/images/graydui.png" style="width: 24px;margin-top: 10px;"/></span>
		</div>
		<div class="pay_ylpayment">
			<img src="../static/images/ylyhk.png" class="fl" style="width: 24px;margin-top: 6px;"/>
			<div class="fl">
				&nbsp;&nbsp;银联支付
				<p style="font-size: 12px;color: #b9b9b9;">&nbsp;&nbsp;单笔限额10000元</p>
			</div>
			<span class="fr"><img src="../static/images/graydui.png" style="width: 24px;margin-top: 6px;"/></span>
		</div>
		<div class="pay_moreyhkpayment">
			<img src="../static/images/moreyhk.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;更多银行卡支付<span class="fr"><img src="../static/images/topjt.png" style="width: 18px;"/></span>
		</div>
		<div class="pay_gfpayment">
			<img src="../static/images/guangfa.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;广发银行<span class="fr"><img src="../static/images/graydui.png" style="width: 24px;"/></span>
		</div>
		<div class="pay_nongyepayment">
			<img src="../static/images/nongyeyh.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;中国农业银行<span class="fr"><img src="../static/images/graydui.png" style="width: 24px;"/></span>
		</div>
		<div class="pay_gray1" style="padding: 12px 15px;"></div>
		<div class="pay_btn">
			<button></button>
		</div>
	</body>
</html>
