<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="zcombgc">
			<div class="personalbox">
				<p class="zptitle mB10 padding"><span></span>个人资料</p>
				<div class="greyline"></div>
				<ul class="zpcont">
					<li class="zpcontli1">头像
					<img class="zpersonimg1" src="../static/images/personaldatauser.png" alt="" />
					</li>
					<li>手机
						<span class="fr">&gt;</span>
						<span class="fr">13677778888</span>
					</li>
					<li>姓名
						<span class="greyfont fr">请输入联系人姓名</span>
					</li>
					<li>昵称
						<span class="greyfont fr">请输入联系人姓名</span>
					</li>
					<li class="personalsex">性别
						<img class="fr" src="../static/images/personalsex1.png" alt="" />
					</li>
					<div class="greyline fontColora0 padding">当前登录的第三方账号</div>
					<li>微信
						<span class="greyfont fr">维纳斯</span>
					</li>
				</ul>
			</div>
		</div>	
		<!--</div>-->
	</body>
</html>
