<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>设置</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body style="background-color: #f4f4f8;">
		<div class="set_header padding">
			<a class="set_larrow">
				<img style="width:10px;padding-left: 15px;" class="fl imgljt" src="../static/images/set_ljt.png"/>
			</a>
			设置
		</div>
		<div class="set_gray"></div>
		<div class="set_per">
			<span>个人资料</span>
			<span class="pre_tel1 fr"><a href=""><img src="../static/images/pro_rjt.png" alt="" style="height: 14px;"/></a></span>
		</div>
		<div class="set_message">
			<span>消息推送设置</span>
			<span class="set_message1 fr"><a href=""><img src="../static/images/pro_rjt.png" alt="" style="height: 14px;"/></a></span>
		</div>
		<div class="set_gray"></div>
		<div class="set_edition">
			<span>版本信息</span>
			<span class="set_edition1 fr" style="font-size: 14px;color: #999999;">1.7.0</span>
		</div>
		<div class="set_about">
			<span>关于我们</span>
			<span class="set_about1 fr"><a href=""><img src="../static/images/pro_rjt.png" alt="" style="height: 14px;"/></a></span>
		</div>
		<div class="set_privacy">
			<span>隐私声明</span>
			<span class="set_privaty1 fr"><a href=""><img src="../static/images/pro_rjt.png" alt="" style="height: 14px;"/></a></span>
		</div>
		<div class="set_gray"></div>
		<div class="set_btn">
			<button class="set_exit">退出登录</button>
		</div>
		
	</body>
</html>
